<p style="color: green"><%= notice %></p>

<% content_for :title, "Budgets" %>

<h2>Orçamentos</h2>

<%= link_to "Novo orçamento", new_budget_path, class: "btn btn-primary" %>

<div class="mt-3">
  <table class="table table-bordered table-hover" id="budgets">
    <tr>
      <th>Descrição</th>
      <th>Status</th>
      <th>Valor</th>
      <th>Itens</th>
      <th>Criação</th>
      <th>Validade</th>
      <th class="text-center">Ações</th>
    </tr>
    <% @budgets.each do |budget| %>
      <%= render budget %>
    <% end %>
  </table>
</div>
